# Environments
venv/
.env

# Database (Local SQLite Files not to be committed)
*Source/.db

# Outputs
Source/validation_errors.*
!Source/config.json
!Source/employees.csv

# Python internals
__pycache__/
*.py[cod]
*$py.class

# Editor/System files
.vscode/
.idea/
.DS_Store
Thumbs.db